<!DOCTYPE html>
<html>
<head>
  <title>AWS OpsWorks Sample App</title>
  <style type="text/css" media="screen">
  body {
    background-image: url("images/white_wall_hash.png");
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin: 0;
    padding: 0;
  }

 
  </style>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <p class="brand">OPsWork Hello World App</p>
      </div>
    </nav>
  </header>
 
